<footer class="footer pt-5 pb-4 pb-lg-5 mt-2 mt-md-0">
  <div class="container pt-lg-4">
    <div class="row pb-5">
      <div class="col-lg-4 col-md-6">
        <div class="navbar-brand text-dark p-0 me-0 mb-3 mb-lg-4">
          <img src="https://cdn.discordapp.com/icons/793149744847257600/dd3ec20d38e8e173e907849842c8e1e5.webp?" alt="logo" class="me-2" width="42">
          Astra Bots
        </div>
        <p class="fs-sm pb-lg-3 mb-4">We are a small community that tries to assist individuals expand their discord bots as well as their discord servers; we have a decent website, a good staff, and a solid membership. Don't forget to join us and become one of our most valuable members.</p>
        <!-- <form class="needs-validation" novalidate="">
          <label for="subscr-email" class="form-label">Send as a message</label>
          <div class="input-group">
            <input type="email" id="subscr-email" class="form-control rounded-start ps-5" placeholder="Enter a text to send..." required="">
            <i class="bx bx-envelope fs-lg text-muted position-absolute top-50 start-0 translate-middle-y ms-3 zindex-5"></i>
            <div class="invalid-tooltip position-absolute top-100 start-0">Enter a text to send...</div>
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form> -->
      </div>
      <div class="col-xl-6 col-lg-7 col-md-5 offset-xl-2 offset-md-1 pt-4 pt-md-1 pt-lg-0">
        <div id="footer-links" class="row">
          <div class="col-lg-4">
            <h6 class="mb-2">
              <a href="#useful-links" class="d-block text-dark dropdown-toggle d-lg-none py-2" data-bs-toggle="collapse">Useful Links</a>
            </h6>
            <div id="useful-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
              <ul class="nav flex-column pb-lg-1 mb-lg-3">
                <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2">Home</a></li>
                <li class="nav-item"><a href="/tos" class="nav-link d-inline-block px-0 pt-1 pb-2">Terms Of Services</a></li>
                <li class="nav-item"><a href="/privacy" class="nav-link d-inline-block px-0 pt-1 pb-2">Privacy &amp; Policy</a></li>
              </ul>
              <ul class="nav flex-column mb-2 mb-lg-0">
                <li class="nav-item"><a href="/allbots" class="nav-link d-inline-block px-0 pt-1 pb-2">All bots</a></li>
                <li class="nav-item"><a href="/bots/new" class="nav-link d-inline-block px-0 pt-1 pb-2">Add new bot</a></li>
                <li class="nav-item"><a href="/allservers" class="nav-link d-inline-block px-0 pt-1 pb-2">All servers</a></li>
                <li class="nav-item"><a href="/servers/new" class="nav-link d-inline-block px-0 pt-1 pb-2">Add new server</a></li>
              </ul>
            </div>
          </div>
          <!-- <div class="col-xl-4 col-lg-3">
            <h6 class="mb-2">
              <a href="#social-links" class="d-block text-dark dropdown-toggle d-lg-none py-2" data-bs-toggle="collapse">Socials</a>
            </h6>
            <div id="social-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
              <ul class="nav flex-column mb-2 mb-lg-0">
                <li class="nav-item"><a href="/discord" class="nav-link d-inline-block px-0 pt-1 pb-2">Discord</a></li>
                <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2 disabled">Facebook</a></li>
                <li class="nav-item"><a href="#" class="nav-link d-inline-block px-0 pt-1 pb-2 disabled">Instagram</a></li>
              </ul>
            </div>
          </div> -->
          <div class="col-xl-4 col-lg-5 pt-2 pt-lg-0">
            <h6 class="mb-2">Contact Us</h6>
            <a href="/discord" class="fw-medium">Discord Server</a>
          </div>
        </div>
      </div>
    </div>
    <p class="nav d-block fs-xs text-center text-md-start pb-2 pb-lg-0 mb-0">
      <a href="//www.dmca.com/Protection/Status.aspx?ID=19367a82-4c50-4473-86ca-5bd54fdf294c" title="DMCA.com Protection Status" class="dmca-badge"> <img src="https://images.dmca.com/Badges/dmca_protected_sml_120n.png?ID=19367a82-4c50-4473-86ca-5bd54fdf294c" alt="DMCA.com Protection Status" /></a>
      <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>© All rights reserved. Made by
      <a class="nav-link d-inline-block p-0" href="https://discord.com/users/857177733398265876" target="_blank" rel="noopener">LuckyDev#1269</a>
    </p>
  </div>
</footer>

<!-- Back to top button -->
<a href="#top" class="btn-scroll-top" data-scroll>
  <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
  <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
</a>

<script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/assets/vendor/rellax/rellax.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/parallax-js/dist/parallax.min.js"></script>
<script src="/assets/vendor/prismjs/components/prism-core.min.js"></script>
<script src="/assets/vendor/prismjs/components/prism-markup.min.js"></script>
<script src="/assets/vendor/prismjs/components/prism-clike.min.js"></script>
<script src="/assets/vendor/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="/assets/vendor/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script src="/assets/vendor/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>

<link rel="stylesheet" media="screen" href="/assets/vendor/boxicons/css/boxicons.min.css" />
<link rel="stylesheet" media="screen" href="/assets/vendor/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" media="screen" href="/assets/css/theme.min.css">

<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
<amp-ad width="100vw" height="320" type="adsense" data-ad-client="ca-pub-4793022343319587" data-ad-slot="4795431729" data-auto-format="rspv" data-full-width="">
  <div overflow=""></div>
</amp-ad>

<% if (!req.url.includes("/bot/")) { %>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4793022343319587" crossorigin="anonymous"></script>
<Script>
  let headers = document.querySelectorAll("h1" || "h2" || "h3" || "h4" || "h5" || "h6");
  // add one random add after each header
  let ads = [
    '6991431799',
    '3535440504',
    '6640912158'
  ];
  for (let i = 3; i < headers.length; i++) {
    var random = Math.floor(Math.random() * ads.length);
    let ad = document.createElement("ins");
    ad.className = "adsbygoogle";
    ad.style = "display:block; text-align:center;";
    ad.dataset.adClient = "ca-pub-4793022343319587";
    ad.dataset.adSlot = ads[random];
    ad.dataset.adFormat = "auto";
    ad.dataset.fullWidthResponsive = "true";
    headers[i].parentNode.insertBefore(ad, headers[i].nextSibling);
    let script = document.createElement("script");
    script.src = "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4793022343319587";
    script.crossOrigin = "anonymous";
    headers[i].parentNode.insertBefore(script, headers[i].nextSibling);
    (adsbygoogle = window.adsbygoogle || []).push({});
  }
</Script>
<% } %>

<script src="/assets/js/theme.min.js"></script>